/* ———————————————————————————————————————————  FONTS  ——————————————— */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* 
    font-family: 'Bebas Neue', cursive;
    font-family: 'Montserrat', sans-serif;
*/


/* ———————————————————————————————————————————  GLOBAL STYLES  ——————— */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
  /* cursor: none; */
}

:root {

  --bckg-black: #1c0727;
  --bckg-blue-black: #2A2C54;
  --bckg-dark-purple: #4A3859;
  --bckg-med-purple: #7E2B6B;
  --bckg-light-purple: #97336F;
  --bckg-light-orange: #F86522;
  --bckg-light-yellow: #FDAB5B;
  --bckg-light-pink: #FC5184;
  --bckg-lightest-pink: #FDA6E9;
  --white: #FFEDFF;
  --black: #3A172D;
  --burgundy: #C25769;

  --pink-name-heading: #CC7098;
  --grey-text: #8A8A8A;
  --purple-text: #B68BD9;
  --yellow-text: #BCB525;
  --white-logo: #ffffff;
  --white-text: #debddb;
  --blue-bg-main-solid: #333056;
  --blue-bg-main-grad: #0C0C14;
  --red-bg-solid: #B03247;
  --red-bg-grad: #581924;
  --orange-bg-solid: #C14D19;
  --orange-bg-grad: #61270D;
  --blue-bg-solid: #414B84;
  --blue-bg-grad: #131626;
  --purple-bg-solid: #A83C83;
  --purple-bg-grad: #4D212C;
  --black-bg-solid: #000000;
  --black-bg-grad: #171726;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--white);
}

span {
  color: var(--grey-text);
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--black-bg-solid);
  width: 100vw;
  min-height: 100vh;
  /* cursor: pointer; */
}


/* ———————————————————————————————————————————  NAVIGATION  ———————————— */
/* ........................... Navlinks ... */

.nav-menu {
  height: 100vh;
  width: 100%;
  position: fixed;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-content: space-between;
  text-align: center;
  z-index: 2;

  /* border: 1px solid black; */
}

.nav-display {
  display: none;
}

.logo {
  width: 100%;
  max-width: 100px;
}

.logo:hover {
  transform: scale(1.05);
  transition: 0.4s ease-in-out;
}

.nav-link {
  font-size: 20px;
  padding: 50px;
  /* border: #FC5184 solid 1px; */
}

.nav-link a,
.nav-link span {
  color: var(--purple-text);
}

.nav-link a:hover,
.cv:hover {
  color: var(--bckg-light-orange);
}

.mobile,
.mobile2 {
  padding: 50px;
  display: none;
}

.hamburger {
  width: 100%;
  max-width: 50px;
  margin-top: 10px;
}

.email:hover span {
  display: none;
}

.email:hover::before {
  content: "sjur.hassel@gmail.com";
  font-family: 'Montserrat', sans-serif;
  color: var(--bckg-light-yellow);
  position: absolute;
  right: 50px;
  bottom: 50px;
  transition: 2s;
}

.personal-links {
  position: absolute;
  display: flex;
  justify-self: space-between;
  /* flex-direction: row; */
  justify-self: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--bckg-light-yellow);
  bottom: 53px;
  transition: .5s ease-out;
  font-family: 'Montserrat', sans-serif;
}

.phone {
  color: var(--bckg-light-yellow);
}

.cv,
.phone {
  margin-left: 5rem;
  color: var(--bckg-light-yellow);
}

.call span:hover {
  margin-right: 30px;
}

.contact {
  color: var(--purple-text);
  text-transform: lowercase;
  letter-spacing: 0;
  font-size: 20px;
}

.call .number,
.mail .email {
  display: none;
}

.call:hover .phone,
.mail:hover .contact {
  display: none;
}

.call:hover .number,
.mail:hover .email {
  display: inline;
  color: var(--bckg-light-yellow);
  text-transform: lowercase;
  color: greenyellow;
}

.show-scroll {
  color: rgb(250, 99, 99);
  position: fixed;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 20px;
  text-transform: lowercase;
  top: 50vh;
  right: 10%;
}


/* ........................... Cursor ... */
.inner-cursor {
  position: fixed;
  left: -30px;
  width: 8px;
  height: 8px;
  transform: translate(-50%, -50%);
  background-color: #fff;
  mix-blend-mode: exclusion;
  border-radius: 50%;
  border-color: var(--white-logo);
  pointer-events: none;
  transition: width 0.5s, height 0.5s;
  z-index: 1;
}

.inner-cursor.grow {
  width: 30px;
  height: 30px;
  transition: width 0.5s, height 0.5s;
  mix-blend-mode: difference;
  z-index: 1;
}

.outer-cursor {
  position: fixed;
  left: -30px;
  width: 55px;
  height: 55px;
  transform: translate(-50%, -50%);
  border: solid 1px #fff;
  mix-blend-mode: difference;
  border-radius: 50%;
  pointer-events: none;
  transition: 1s;
  z-index: 1;
}


/* ———————————————————————————————————————————  INDEX PAGE  ———————————— */
.hero {
  background-color: var(--bckg-black);
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;

  align-items: center;
  /* border: solid 2px greenyellow; */
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;

  /* background-color: #FDA6E9; */
}

.hero-text {
  height: 100%;
  width: 100%;
  padding: 100px;
  /* border: solid 1px orange; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-title {
  padding: 10px;
  /* font-family: 'Archivo Black', sans-serif; */
  font-size: 90px;
  font-family: 'Bebas Neue', cursive;
  /* overflow-x: hidden; */
}

.myname {
  color: var(--pink-name-heading);
  font-size: 120px;
  letter-spacing: 6px;
  position: fixed;
  top: 28%;
  left: 50px;
  white-space: nowrap;
  background: linear-gradient(90deg, var(--pink-name-heading) 10%, var(--bckg-light-orange), var(--burgundy), var(--bckg-light-purple), var(--bckg-light-yellow), var(--bckg-light-orange), var(--bckg-light-purple), var(--bckg-light-pink), var(--bckg-lightest-pink), var(--burgundy));
  background-clip: text;
  color: transparent;
  animation: text-animate 4s ease-in-out .01s infinite alternate both;
  /* animation-delay: 2s; */
  background-size: 400%;
  background-position: -20%;
}

@keyframes text-animate {
  from {
    background-position: 0%;
  }

  to {
    background-position: 100%;
  }
}

.myname .letter {
  display: inline-block;
}

.line2 {
  position: fixed;
  top: 45%;
  left: 50px;
  white-space: nowrap;
  overflow: hidden;

}

.line3 {
  position: fixed;
  top: 58%;
  left: 50px;
  white-space: nowrap;
}

.myname:hover {
  background: linear-gradient(90deg, var(--pink-name-heading) 10%, var(--bckg-light-orange), var(--burgundy), var(--bckg-light-purple), var(--bckg-light-yellow), var(--bckg-light-orange), var(--bckg-light-purple), var(--bckg-light-pink), var(--bckg-lightest-pink), var(--burgundy));
  background-clip: text;
  color: transparent;
  animation: text-animate 4s ease-in-out .01s infinite alternate both;
  background-size: 400%;
  background-position: -20%;
}

.arrow {
  width: 20%;
  position: fixed;
  display: flex;
  justify-content: center;
  letter-spacing: 4px;
  /* border: solid 1px pink; */
  transform: rotate(90deg);
  right: 10%;
  top: 43%;
}

.arrow-two {
  width: 20%;
  position: absolute;
  display: flex;
  justify-content: center;
  letter-spacing: 4px;
  transform: rotate(-90deg);
  right: 40%;
  top: 243%;
  /* border: solid 1px pink; */
}

.arrow img,
.arrow-two img {
  /* border: solid 1px pink; */
  width: 70px;
}

.scroll-text {
  color: var(--white);
  font-weight: 100;
  font-size: 20px;
  padding-right: 30px;
  /* border: solid 1px pink; */
}

.fscreen-text {
  font-size: 14px;
}


/* ........................... Transition Section ... */
.transition-scroll {
  background-color: var(--bckg-black);
  background: linear-gradient(var(--bckg-black), var(--black-bg-solid));
  height: 200vh;
}


/* ———————————————————————————————————————————  WORK PAGE  ———————————— */
/* ........................... NEW SLIDER ... */

.slider-wrapper {
  background-image: url(/assets/icons/macbook_outline_white_w:o_inner.png);
  background-color: var(--bckg-black);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.slides-container {
  height: 100vh;
  /* scrollbar-width: none; */
  width: 100%;
  display: flex;
  overflow: scroll;
  scroll-behavior: smooth;
  padding-bottom: 2%;
}

.slide {
  width: 100%;
  flex: 1 0 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 21% 0;
  z-index: 2;
}

.slide img {
  width: 100%;
  max-width: 730px;
  border-radius: 3px;
  cursor: pointer;
}

.slide img:hover {
  transform: scale(1.02);
  transition: transform .5s ease;
}

.slide-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 80px;
  background-color: var(--white-logo);
  border: none;
  width: 48px;
  font-size: 35px;
  opacity: 0.5;
  transition: opacity 100ms;
  z-index: 2;
}

.slide-arrow:hover {
  opacity: 0.8;
}

#slide-arrow-prev {
  color: var(--black-bg-solid);
  left: 0;
  padding-left: 3px;
  border-radius: 0 48px 48px 0;
}

#slide-arrow-next {
  color: var(--black-bg-solid);
  right: 0;
  padding-left: 3px;
  border-radius: 48px 0 0 48px;
}

/* ——————————————————————————————————— About section —————————— */
.about {
  background: linear-gradient(to right, var(--black-bg-solid) 33%, var(--black-bg-grad));
}

.about img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: -275px;
  transform: scale(1.28);
  transform-origin: top;
}

.about-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-box {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  /* border: 4px solid lightslategray; */
}

.bg-image {
  height: 100%;
  flex-basis: 50%;
  /* border: 1px solid greenyellow; */
  overflow: hidden;
}

.text-bg {
  width: 100%;
  flex-basis: 55%;
  /* border: 1px solid red; */
}


/* ——————————————————————————  PROJECTS PAGE  ———————————————————— */
.card-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  background-color: var(--bckg-dark-purple);
  padding: 20px;
  border-radius: 5px;
}

.projects {
  width: 100%;
  height: 300vh;
  padding: 0 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(var(--black-bg-grad), var(--black-bg-solid));
  /* z-index: 5; */
}

.card {
  color: var(--white);
  background-image: url("/assets/images/rainydays_screenshot.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10rem 0 0;
  max-width: 600px;
  width: 100%;
  /* border: 1px solid orange; */
  z-index: 2;
  border-radius: 5px;
  overflow: hidden;
}

.card2 {
  background-image: url("/assets/images/csm_screenshot.jpg");
}
.card3 {
  background-image: url("/assets/images/analog-flowers_screenshot.jpg");
}

.card-content {
  --padding: 20px;
  padding: var(--padding);
  background: linear-gradient(
    hsl(0 0% 0% / 0) ,
    hsl(0 0% 0% / 1) 50%
  );
  /* transform: translateY(60%); */
  /* transition: transform .5s ease; */
}

/* .card:hover .card-content { */
  /* transform: translateY(0); */
  /* transition-delay: .5s; */
/* } */

.card-title {
  position: relative;
  width: max-content;
  margin-bottom: 1.5rem;
  border: 1px solid yellowgreen;
}

.card-title::after {
  content: "";
  position: absolute;
  height: 4px;
  left: calc(var(--padding) * -1);
  width: calc(100% + var(--padding));
  background: var(--purple-text);
  bottom: 0;
  /* transform: scaleX(0); */
  transition: transform 0.3s ease;
  transform-origin: left;
}

.card:hover .card-title::after {
  transform: scaleX(1);
}

.github-badge {
  font-size: 20px;
  margin-right: 1rem;
  cursor: pointer;
}

.github-button {
  margin-top: 1rem;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  width: fit-content;
  border: 2px solid var(--bckg-light-purple);
  border-radius: 3px;
}

.github-button:hover {
  background-color: var(--bckg-light-purple);
  transform: scale(1.05);
  transition: transform .5s ease;
}

.github-button h2 {
  font-size: 16px;
  font-weight: 300;
}

.card-text {
  width: 100%;
  max-width: 600px;
  margin-top: 2rem;
  color: var(--white);
  padding: 1rem;
  border: solid 1px var(--white-text);
  border-radius: 5px;
  color: var(--white-text);
}

.card-text h3 {
  font-size: 16px;
  font-weight: 600;
  padding: 10px 0;
  color: var(--white-logo);
}



/* ——————————————————————————  MEDIA QUERIES  ———————————————————— */
@media (hover) {
  .card-content {
    transform: translateY(60%);
    transition: transform .5s ease;
  }
  .card:hover .card-content {
    transform: translateY(0);
    transition-delay: .5s;
  }  
  .card-title::after {
    transform: scaleX(0);
  }
}

@media screen and (max-width: 920px) {

}

@media screen and (max-width: 780px) {
  /* .logo {
    position: relative;
    margin-top: 18px;
    margin-left: 30px;
  } */

  .none {
    display: none;
  }

  /* nav */
  .nav-menu {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--black-bg-solid);
    /* padding: 4rem; */
    position: fixed;
    width: 50%;
    min-width: 250px;
    top: -100%;
    left: 0;
    /* flex-direction: column; */
    transition-duration: .5s;
    /* align-items: center; */
  }

  .nav-display {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    padding: 3.1rem;
    z-index: 4;
  }

  /* .no {
    display: block;
    position: fixed;
    margin-top: 28px;
    margin-left: 30px;
    z-index: 4;
  } */

  .mobile,
  .mobile2 {
    display: block;
    position: fixed;
    right: 0;
    transition: transform 0.5s;
    transform: rotate(0deg);
    z-index: 4;
    color: white;
    cursor: pointer;
  }

  .nav-link {
    padding: 1rem;
    font-size: 1.4rem;
    margin: 1rem auto;
    z-index: 3;
    color: white;
  }

  .nav-link:hover {
    border: solid 1px var(--bckgr-white);
  }

  .nav-link[aria-current="page"] {
    background-color: var(--bckgr-white);
    border: solid 1px var(--bckgr-white);
    color: var(--pink-name-heading);
  }

  .nav-menu.active {
    left: 0;
    top: 0;
    padding-top: 10rem;
  }

  .mobile.active {
    position: fixed;
    transition: transform 0.5s;
    transform: rotate(315deg);
  }

  .mobile2.active {
    position: fixed;
    transition: transform 0.5s;
    transform: rotate(-315deg);
  }

  .call {
    position: static;
  }

  .call span:hover {
    margin: 0;
  }

  .personal-links {
    height: 180px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-bottom: 5rem;
    justify-content: space-around;
    /* border: 1px solid orange; */
  }

  .phone {
    margin-left: 0;
    /* border: 1px solid red; */
    
  }
  .number {
    /* display: flex; */
    justify-content: center;
    /* border: 1px solid yellowgreen; */
  }
  

  .email:hover span {
    /* display: block; */
    color: var(--bckg-light-orange);
  }

  .email:hover::before {
    position: static;
    color: var(--bckg-light-orange);
    left: 1rem;
    right: 1rem;
    font-size: 20px;
    letter-spacing: 2px;
  }

  .cv {
    margin-left: 0;
  }

  .email:hover {
    display: flex;
    justify-content: center;
    color: var(--bckg-light-orange);
  }

  .call:hover .number {
    position: static;
    display: flex;
    /* top: -150px;
    left: -1px;
    width: 100%; */
  }

  /* email:hover::before {
    position: absolute;
    bottom: 80px;
  } */

}