/* ———————————————————————————————————————————  FONTS  ——————————————— */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* 
    font-family: 'Bebas Neue', cursive;
    font-family: 'Montserrat', sans-serif;
*/


/* ———————————————————————————————————————————  GLOBAL STYLES  ——————— */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
  /* cursor: none; */
}

:root {

  --bckg-black: #1c0727;
  --bckg-blue-black: #2A2C54;
  --bckg-dark-purple: #4A3859;
  --bckg-med-purple: #7E2B6B;
  --bckg-light-purple: hsl(324, 50%, 40%);
  --bckg-light-purple: #97336F;
  --bckg-light-orange: #F86522;
  --bckg-light-yellow: #FDAB5B;
  --bckg-light-pink: #FC5184;
  --bckg-lightest-pink: #FDA6E9;
  --black: #3A172D;
  --burgundy: #C25769;
  --pink-name-heading: #CC7098;
  --grey-text: #8A8A8A;
  --purple-text: #B68BD9;
  --yellow-text: #BCB525;
  --white-logo: #ffffff;
  --white: rgb(242, 242, 242);
  --white-text: #debddb;
  --greyish-text: rgb(222, 222, 222);
  --blue-bg-main-solid: #333056;
  --blue-bg-main-grad: #0C0C14;
  --red-bg-solid: #B03247;
  --red-bg-grad: #581924;
  --orange-bg-solid: #C14D19;
  --orange-bg-grad: #61270D;
  --blue-bg-solid: #414B84;
  --blue-bg-grad: #131626;
  --purple-bg-solid: #A83C83;
  --purple-bg-grad: #4D212C;
  --black-bg-solid: #000000;
  --black-bg-grad: #171726;
  --green-link: rgb(173, 255, 47);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--white);
}

span {
  color: var(--grey-text);
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--black-bg-solid);
  width: 100vw;
  min-height: 100vh;
  /* cursor: pointer; */
}


/* ———————————————————————————————————————————  NAVIGATION  ———————————— */
/* ........................... Navlinks ... */

.nav-menu {
  height: 100vh;
  width: 100%;
  position: fixed;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-content: space-between;
  text-align: center;
  z-index: 2;
}

.nav-display {
  display: none;
}

.logo {
  width: 100%;
  max-width: 100px;
}

.logo:hover {
  transform: scale(1.05);
  transition: 0.4s ease-in-out;
}

.nav-link {
  font-size: 20px;
  padding: 50px;
}

.nav-link a[aria-current="page"] {
  background-color: var(--bckgr-white);
  border: solid 1px var(--bckgr-white);
  color: var(--pink-name-heading);
}

.nav-link a,
.nav-link span {
  color: var(--purple-text);
}

.nav-link a:hover,
.cv:hover {
  color: var(--bckg-light-orange);
  cursor: pointer;
}

.mobile,
.mobile2 {
  padding: 50px;
  display: none;
}

.email:hover span {
  opacity: 0;
}

.email:hover::before {
  position: absolute;
  content: "sjur.hassel@gmail.com";
  font-family: 'Montserrat', sans-serif;
  color: var(--green-link);
  transition: all 2s ease;
  right: 50px;
}

.personal-links {
  position: absolute;
  display: flex;
  justify-self: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--bckg-light-yellow);
  bottom: 53px;
  transition: .5s ease-out;
  font-family: 'Montserrat', sans-serif;
}

.phone {
  color: var(--bckg-light-yellow);
}

.cv,
.phone {
  margin-left: 5rem;
  color: var(--bckg-light-yellow);
}

.call span:hover {
  margin-right: 30px;
}

.contact {
  color: var(--purple-text);
  text-transform: lowercase;
  letter-spacing: 0;
  font-size: 20px;
}

.call .number,
.mail .email {
  display: none;
}

.call:hover .phone,
.mail:hover .contact {
  display: none;
}

.call:hover .number,
.mail:hover .email {
  display: inline;
  color: var(--bckg-light-yellow);
  text-transform: lowercase;
  color: var(--green-link);
}

.show-scroll {
  color: rgb(250, 99, 99);
  position: fixed;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 20px;
  text-transform: lowercase;
  top: 50vh;
  right: 10%;
}


/* ........................... Back Button ... */
.projects button {
  position: absolute;
  background: none;
  border: none;
  color: var(--bckg-lightest-pink);
  font-size: 50px;
  left: 100px;
  cursor: pointer;
  z-index: 3;
}


/* ........................... Cursor ... */
.inner-cursor {
  position: fixed;
  left: -30px;
  width: 8px;
  height: 8px;
  transform: translate(-50%, -50%);
  background-color: var(--white-text);
  mix-blend-mode: exclusion;
  border-radius: 50%;
  border-color: var(--white-logo);
  pointer-events: none;
  transition: width 0.5s, height 0.5s;
  z-index: 1;
}

.inner-cursor.grow {
  width: 30px;
  height: 30px;
  transition: width 0.5s, height 0.5s;
  mix-blend-mode: difference;
  z-index: 1;
}

.outer-cursor {
  position: fixed;
  left: -30px;
  width: 55px;
  height: 55px;
  transform: translate(-50%, -50%);
  border: solid 1px var(--white-logo);
  mix-blend-mode: difference;
  border-radius: 50%;
  pointer-events: none;
  transition: 1s;
  z-index: 1;
}


/* ———————————————————————————————————————————  INDEX PAGE  ———————————— */
.hero {
  background-color: var(--bckg-black);
}

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
}

.hero-text {
  height: 100%;
  width: 100%;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-title {
  padding-left: 10px;
  font-size: 90px;
  font-family: 'Bebas Neue', cursive;
}

.myname {
  color: var(--pink-name-heading);
  font-size: 120px;
  letter-spacing: 6px;
  position: fixed;
  top: 28%;
  left: 50px;
  white-space: nowrap;
  background: linear-gradient(90deg, var(--pink-name-heading) 10%, var(--bckg-light-orange), var(--burgundy), var(--bckg-light-purple), var(--bckg-light-yellow), var(--bckg-light-orange), var(--bckg-light-purple), var(--bckg-light-pink), var(--bckg-lightest-pink), var(--burgundy));
  background-clip: text;
  color: transparent;
  animation: text-animate 4s ease-in-out .01s infinite alternate both;
  background-size: 400%;
  background-position: -20%;
}

@keyframes text-animate {
  from {
    background-position: 0%;
  }

  to {
    background-position: 100%;
  }
}

.myname:hover {
  background: linear-gradient(90deg, var(--pink-name-heading) 10%, var(--bckg-light-orange), var(--burgundy), var(--bckg-light-purple), var(--bckg-light-yellow), var(--bckg-light-orange), var(--bckg-light-purple), var(--bckg-light-pink), var(--bckg-lightest-pink), var(--burgundy));
  background-clip: text;
  color: transparent;
  animation: text-animate 4s ease-in-out .01s infinite alternate both;
  background-size: 400%;
  background-position: -20%;
}

.myname .letter {
  display: inline-block;
}

.line2 {
  position: fixed;
  top: 45%;
  left: 50px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: "_";
}

.line3 {
  position: fixed;
  top: 58%;
  left: 50px;
  white-space: nowrap;
}

.arrow {
  width: 20%;
  position: fixed;
  display: flex;
  justify-content: center;
  letter-spacing: 4px;
  transform: rotate(90deg);
  right: 10%;
  top: 43%;
}

.arrow-two {
  width: 20%;
  position: absolute;
  display: flex;
  justify-content: center;
  letter-spacing: 4px;
  transform: rotate(-90deg);
  left: 30%;
  top: 223%;
}

.arrow img,
.arrow-two img {
  width: 70px;
}

.scroll-text {
  color: var(--white);
  font-weight: 100;
  font-size: 20px;
  padding-right: 30px;
}

.fscreen-text {
  font-size: 14px;
}


/* ........................... Transition Section ... */
.transition-scroll {
  background-color: var(--bckg-black);
  background: linear-gradient(var(--bckg-black), var(--black-bg-solid));
  height: 200vh;
}


/* ———————————————————————————————————————————  WORK PAGE  ———————————— */
/* ........................... NEW SLIDER ... */

.slider-wrapper {
  background-image: url(/assets/icons/macbook_outline_white_w:o_inner.png);
  background-color: var(--bckg-black);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.slides-container {
  height: 100vh;
  width: 100%;
  display: flex;
  overflow: scroll;
  scroll-behavior: smooth;
  padding-bottom: 8px;
}

.slide {
  width: 100%;
  flex: 1 0 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 21% 0;
}

.slide img {
  position: relative;
  width: 100%;
  max-width: 750px;
  border-radius: 3px;
  cursor: pointer;
  z-index: 3;
}

.slide img:hover {
  transform: scale(1.02);
  transition: transform .5s ease;
}

.slide-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 80px;
  background-color: var(--white-logo);
  border: none;
  width: 48px;
  font-size: 35px;
  opacity: 0.5;
  transition: opacity 100ms;
  z-index: 2;
  cursor: pointer;
}

.slide-arrow:hover {
  opacity: 0.8;
}

#slide-arrow-prev {
  color: var(--black-bg-solid);
  left: 0;
  padding-left: 3px;
  border-radius: 0 48px 48px 0;
}

#slide-arrow-next {
  color: var(--black-bg-solid);
  right: 0;
  padding-left: 3px;
  border-radius: 48px 0 0 48px;
}

.fa-arrow-left:hover,
.fa-arrow-right:hover {
  transform: scale(1.1);
  transition: 0.3s ease;
}


/* ——————————————————————————————————— ABOUT PAGE —————————— */

.about {
  background: linear-gradient(to right, var(--black-bg-solid) 33%, var(--black-bg-grad));
}

.about img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: -275px;
  transform: scale(1.28);
  transform-origin: top;
}

.about-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-box {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.bg-image {
  flex-basis: 50%;
  overflow: hidden;
}

.text-bg {
  width: 100%;
  flex-basis: 50%;
  color: var(--white-logo);
  display: flex;
  align-items: center;
}

.text-bg h1 {
  font-family: 'Bebas Neue', cursive;
  position: absolute;
  width: 100%;
  right: 35%;
  top: -35px;
  color: var(--pink-name-heading);
  font-size: 120px;
  letter-spacing: 6px;
  background: linear-gradient(90deg, var(--pink-name-heading) 10%, var(--bckg-light-orange), var(--burgundy), var(--bckg-light-purple), var(--bckg-light-yellow), var(--bckg-light-orange), var(--bckg-light-purple), var(--bckg-light-pink), var(--bckg-lightest-pink), var(--burgundy));
  background-clip: text;
  color: transparent;
  animation: text-animate 4s ease-in-out .01s infinite alternate both;
  background-size: 400%;
  background-position: -10%;
  z-index: 2;
}

.text-bg h2 {
  width: 100%;
  font-size: 40px;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 3px;
  position: absolute;
  z-index: 3;
  left: -10%;
  top: 63px;
}

.text {
  position: relative;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.text p {
  /* border: 1px solid pink; */
  font-size: 18px;
  font-weight: 300;
  color: var(--greyish-text);
  padding: 80px 100px 0 0;
  margin-top: 130px;
  line-height: 24px;
}


/* ——————————————————————————  PROJECTS PAGE  ———————————————————— */

.card-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 700px;
  background-color: var(--bckg-dark-purple);
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 3rem;
}

.projects {
  width: 100%;
  height: 100vh;
  padding: 0 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(var(--black-bg-grad), var(--black-bg-solid));
}

.card {
  color: var(--white);
  background-color: var(--bckg-black);
  background-image: url("/assets/images/rainydays_screenshot.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10rem 0 0;
  max-width: 700px;
  width: 100%;
  z-index: 2;
  border-radius: 5px;
  overflow: hidden;
  transition: background-color 2s ease;
}

.card2 {
  background-image: url("/assets/images/csm_screenshot.jpg");
}

.card3 {
  background-image: url("/assets/images/analog-flowers_screenshot.jpg");
}

.card-content {
  --padding: 20px;
  padding: var(--padding);
  background: linear-gradient(hsl(0 0% 0% / 0),
      hsl(0 0% 0% / 1));
  z-index: 3;
}

.card-title {
  position: relative;
  width: max-content;
  margin-bottom: 1.5rem;
}

.card-title::after {
  content: "";
  position: absolute;
  height: 50px;
  left: calc(var(--padding) * -2);
  bottom: calc(var(--padding)* -.5);
  padding-right: 30px;
  width: calc(100% + var(--padding));
  border-radius: 3px;
  background: var(--bckg-black);
  transition: transform 0.3s ease;
  transform-origin: left;
  z-index: -1;
}

.card:hover .card-title::after {
  transform: scaleX(1);
}

.badge {
  font-size: 21px;
  margin-right: 10px;
  cursor: pointer;
  color: var(--white-logo);
}

.link-button {
  margin: 1rem 1.5rem 0 0;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  width: fit-content;
  border: 2px solid var(--bckg-light-purple);
  background-color: rgba(153, 51, 112, 0.4);
  border-radius: 3px;
}

.link-button:hover {
  background-color: var(--bckg-light-purple);
  transform: scale(1.05);
  transition: transform .5s ease;
}

.link-button h2 {
  font-size: 16px;
  font-weight: 300;
}

.card-text {
  width: 100%;
  max-width: 800px;
  margin-top: 1rem;
  color: var(--white);
  padding: 1rem;
  border: solid 1px var(--white-text);
  border-radius: 5px;
  color: var(--white-text);
  font-size: 16px;
}

.card-text h3 {
  font-size: 16px;
  font-weight: 600;
  padding: 10px 0;
  color: var(--white-logo);
}

.buttons {
  display: flex;
}

.buttons img {
  width: 21px;
  color: var(--white-logo);
  padding: 2px 0 0 0;
}


/* ——————————————————————————  MEDIA QUERIES  ———————————————————— */
@media (hover) {
  .card-content {
    transform: translateY(60%);
    transition: transform .5s ease-in;
    background: hsl(0 0% 0% / 0);
  }

  .card:hover .card-content {
    transform: translateY(0);
    transition-delay: 0.5s;

    background: linear-gradient(hsl(0 0% 0% / 0) 20%,
        hsl(0 0% 0% / 0.8) 60%);
  }

  .card-title::after {
    transform: scaleX(0);
    background: var(--black-bg-grad);
  }

  .projects button:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease;
    color: var(--white-logo);
  }
}

@media screen and (max-width: 1100px) {
  .card-wrapper {
    max-width: 500px;
    margin-bottom: 3rem;
  }

  .card {
    max-width: 500px;
  }

  .card,
  .card2,
  .card3 {
    max-height: 250px;
  }

  .card {
    padding: 5rem 0 0;
  }

  .card-text {
    font-size: 14px;
  }
}

@media screen and (max-width: 900px) {

  /* Home page .................... */
  .hero-title {
    font-size: 50px;
  }

  .myname {
    font-size: 80px;
    top: 33%;
  }

  .line2 {
    top: 45%;
  }

  .line3 {
    top: 53%;
  }

  /* Projects page .................*/
  .card-wrapper {
    max-width: 400px;
  }

  .card-text {
    font-size: 14px;
  }

  .card-title {
    font-size: 22px;
  }

  .card-title::after {
    height: 30px;
    bottom: calc(var(--padding)* -.1);
  }

  .link-button h2 {
    font-size: 12px;
  }

  .badge {
    font-size: 17px;
  }

  .buttons img {
    width: 17px;
  }
}

@media screen and (max-width: 780px) {

  /* Nav .......................... */
  .nav-menu {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--black-bg-solid);
    /* padding: 4rem; */
    position: fixed;
    width: 100%;
    min-width: 250px;
    top: -100%;
    left: 0;
    transition-duration: .5s;
    z-index: 4;
  }

  .nav-display {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    z-index: 4;
  }

  .mobile,
  .mobile2 {
    display: block;
    position: fixed;
    padding: 40px;
    right: 0;
    transition: transform 0.5s;
    transform: rotate(0deg);
    z-index: 4;
    color: white;
    cursor: pointer;
  }

  .nav-link {
    padding: 1rem;
    font-size: 1.4rem;
    margin: .5rem auto;
    z-index: 3;
    color: white;
  }

  .nav-link:hover {
    border: solid 1px var(--bckgr-white);
  }

  .nav-menu.active {
    left: 0;
    top: 0;
    padding-top: 8rem;
  }

  .mobile.active {
    position: fixed;
    transition: transform 0.5s;
    transform: rotate(315deg);
  }

  .mobile2.active {
    position: fixed;
    transition: transform 0.5s;
    transform: rotate(-315deg);
  }

  .logo {
    max-width: 60px;
  }

  .hamburger {
    width: 100%;
    max-width: 35px;
  }

  .call {
    position: static;
  }

  .call span:hover {
    margin: 0;
  }

  .personal-links {
    height: 180px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-bottom: 5rem;
    justify-content: space-around;
  }

  .phone {
    margin-left: 0;
  }

  .number {
    justify-content: center;
  }


  .email:hover span {
    color: var(--bckg-light-orange);
  }

  .email:hover::before {
    position: static;
    color: var(--bckg-light-orange);
    left: 2rem;
    right: 2rem;
    font-size: 20px;
    letter-spacing: 2px;
  }

  .cv {
    margin-left: 0;
  }

  .email:hover {
    justify-content: center;
    color: var(--bckg-light-orange);
  }

  .call:hover .number {
    position: static;
    display: flex;
  }

  /* Home page .................*/
  .none {
    display: none;
  }

  .arrow,
  .arrow-two {
    width: 10%;
  }

  .arrow img,
  .arrow-two img {
    width: 50px;
  }

  .scroll-text {
    font-size: 14px;
  }

  .show-scroll {
    top: 70vh;
    right: 30%;
  }

  /* About page .................*/
  .text-bg p {
    position: absolute;
    left: -20%;
  }

  /* Work page .................*/
  .slide-arrow {
    top: 0;
    bottom: 0;
    height: 80px;
    width: 80px;
  }

  #slide-arrow-prev {
    left: 25%;
    top: 60%;
    border-radius: 50px;
  }

  #slide-arrow-next {
    right: 25%;
    top: 60%;
    border-radius: 50px;
  }

  /* Project pages .................*/
  .projects {
    height: 120vh;
  }

  .card-wrapper {
    margin-top: 20vh;
  }

  .projects button {
    font-size: 40px;
    left: 45%;
    top: 5%;
  }
}

@media screen and (max-width: 600px) {

  /* Home page .......................*/
  .hero-title {
    font-size: 35px;
  }

  .myname {
    font-size: 60px;
    letter-spacing: 3px;
    top: 25%;
  }

  .line2 {
    top: 34%;
  }

  .line3 {
    top: 39%;
  }

  .show-scroll {
    top: 60vh;
    right: 40%;
    font-size: 22px;
  }

  .arrow {
    top: 47%;
    width: 5%;
  }

  .arrow-two {
    top: 233%;
  }

  /* About page ....................*/
  .about img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: -320px;
    transform: scale(1.28);
    transform-origin: top;
  }

  .text-bg p {
    font-size: 14px;
    left: -60%;
    padding-right: 40px;
  }

  .text-bg h1 {
    right: 60%;
    font-size: 80px;
    top: -3%;
  }

  .text-bg h2 {
    white-space: nowrap;
    left: -40%;
    font-size: 30px;
    top: 15%;
  }
}

@media screen and (max-width: 420px) {

  /* Work page ....................*/
  .card {
    padding: 3rem 0 0;
  }
}